.cart__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}
.cart__itemButton{
    margin: 5px;
}
.cart__itemColor{
    display: inline-block;
    margin: 5px;
    border-radius: 50%;
    width: 20px; 
    height: 20px;
}
.cart__itemButton{
    color: red;
    font-weight: 400;
    font-size: 30px;
    border: none;
    background-color: white;
}