.cart__item{
    display: flex;
    width: 100%;
    padding: 20px;
    border: 1px solid lightgray;
    background-color: white;
    margin-bottom: 20px;
}
.cartItem__info{
    padding: 10px;
}
.s1{
    font-weight: 700;
    font-size: 20px;
}
.cart__itemPrice{
    font-weight: 700;
    line-height: 24px;
    color: grey;
    font-size: 22px;
}
.cart__itemButton{
    color: #fd6506;
    font-weight: 400;
    border: none;
    background-color: white;
    font-size: 20px;
}
.cart__itemImages{
    position: relative;
    width: 200px;
}
.cart__itemImages > img{
    max-height: 200px;
    width: 200px;
    max-width: 100%;
    object-fit: contain;
}
.figure img.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
  .figure:hover img.image-hover {
    opacity: 1;
  }

  @media screen and (max-width:800px) {
      .cart__item{
        flex-wrap: wrap;
      }
  }