.checkout__topTitle{
    text-align: center;
    padding: 20px;
    font-weight: 400;
}
.checkout__container{
    padding: 30px;
}
.checkout__section > div{
    padding: 10px;
}
.checkout__items{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.checkout__bottom{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.checkout__bottom > div{
    width: 40%;
    margin: 10px;
}