.checkout__topTitle{
    text-align: center;
    padding: 20px;
    font-weight: 400;
}
.checkout__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px;
}
.checkout__container > div{
    width: 420px;
}
.checkout__section > div{
    padding: 10px;
}