.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    top: 0;
    z-index: 100;
    padding: 20px;
    background-color: #fd6506;
    /* background-color: #131921; */
}
.header__logo{
    color: white;
    margin: 0 20px;
    font-weight: 700;
}
.header__logo span{
    font-size: 2rem;
}
.header__logo i{
    font-size: 2rem;
    margin: 0 10px;
}
.header__hotline{
    color: white;
    margin: 0 10px;
}
.header__search{
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.header__searchInput{
  padding: 10.5px;
  font-size: 17px;
  border: none;
  width: 350px;
}
.header__search button{
  float: right;
  padding: 10px 15px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px;
}
.header__option{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.header__shoppingBasket{
    color: white;
    position: relative;
    margin-right: 5px;
}
.header__basketCount{
    position: absolute;
    top: -1;
    right: -1;
    /* color: #cd9042; */
    font-weight: 800;
    color: white;
}
.header__wishlistCount{
    position: absolute;
    top: -1;
    right: -1;
    /* color: #cd9042; */
    font-weight: 800;
    color: white;
}