
/* coupon */
.coupon {
    border: 5px dotted #bbb; /* Dotted border */
    width: 80%;
    border-radius: 15px; /* Rounded border */
    margin: 0 auto; /* Center the coupon */
    max-width: 600px;
  }
  
  .coupon__container {
    padding: 2px 16px;
    background-color: #f1f1f1;
  }
  
  .promo {
    background: #ccc;
    padding: 3px;
  }
  
  .expire {
    color: red;
  }


.home__section{
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
}

.home__sectionTitle{
    display: flex;
    align-items: center;
}

  h2{
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
    color: #202020;
    padding: 20px;
    margin-left: 10px;
  }

.home__sectionTwo, .home__sectionThree{
    padding: 20px;
} 
.home__rowTwo, .home__rowThree{
    display: flex;
    align-items: center;
    padding: 20px;
}
.home__categoryImageBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 250px;
}  
.home__categoryImageBox > img{
    width: 100%;
}
.home__categoryImageBox > p{
    font-family: "DM Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
}
.hot__deals{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #e10600;
    margin-left: 10px;
}
.home__sectionTitleThree{
    display: flex;
    align-items: center;
}
.offers__container{
  display: flex;
  flex-wrap: wrap;
}
.offer__item{
  padding: 5px;
  margin: 5px;
}
.offer__item > img{
  width: 180px;
  height: 180px;
}
.slide__show img{
  width: 100%;
}
.collections__header{
  padding: 10px;
  color: white;
  background-color: #fd6506;
  margin-left: 10px;
  text-align: center;
}
.collections__container{
  padding: 10px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
}
.collections__item{
  padding: 10px;
  text-align: center;
}
.collections__item p{
  margin-top: 5px;
  
}

.home__brands{
  display: flex;
  align-items: center;
  padding: 20px;
}

.home__brands > div{
  padding: 10px;
}

.home__electronics, .col2{
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}
.col2{
  align-items: center;
}
.col3{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.col3 > div{
  background-color: white;
  padding: 10px;
  margin: 10px;
  width: 230px;
}
.col3 h3, .col3 p{
  padding: 5px;
}
.col3__section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.electronics__bottom, .special__offers{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.electronics__bottom{
  align-items: center;
}
.electronics__bottom > div{
  width: 400px;
}
.special__offers > div{
  width: 400px;
  margin: 10px;
}
.electronics__bottom img{
  width: 100%;
}
.special__offers img{
  width: 100%;
}
.shop__withUs{
  background-image: url('https://cdn.shopify.com/s/files/1/0064/4435/1539/files/bg_9859d6a0-04d2-4eb0-a314-1a3c55309bd8_1920x.jpg?v=1620377457');
  background-repeat: repeat-x;
  background-size: cover;
  text-align: center;
  width: 100%;
  margin: 50px 0;
  padding: 50px;
}
.shop__withUs h2{
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: 51px;
}
.home__sectionTenContent{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.home__sectionTenContent > div{
  background-color: white;
  padding: 10px;
  margin: 5px;
  width: 250px;
  border-radius: 10px;
}
.home__sectionTenContent h3{
  padding: 10px;
}
.large__icon{
  padding: 10px;
}
.home__sectionTenContent p{
  padding: 10px;
}
.large__icon i{
  font-size: 2rem;
  color: #fd6506;
  padding: 10px;
}

/* subscribe form */

.wrapper {
  width: 100%;
}

.fas.fa-envelope {
  color: #fff;
  font-size: 2rem;
  background: #333;
  padding: 1rem;
  border-radius: 100%;
  margin: 0 0 1rem 0;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-content h3 {
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  padding: 10px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #202020;
}

.card-content p {
  font-size: .8rem;
  margin: 0 0 2rem 0;
  padding: 10px;
}

.sub__input {
  padding: .8rem 1rem;
  width: 40%;
  border-radius: 5rem;
  outline: none;
  border: .1rem solid #d1d1d1;
  font-size: .7rem;
}

.subscribe-btn {
  padding: .8rem 2rem;
  border-radius: 5rem;
  background-color: #fd6506;
  color: #fff;
  font-size: .7rem;
  border: none;
  outline: none;
  cursor: pointer;
}