
/* coupon */
.coupon {
    border: 5px dotted #bbb; /* Dotted border */
    width: 80%;
    border-radius: 15px; /* Rounded border */
    margin: 0 auto; /* Center the coupon */
    max-width: 600px;
  }
  
  .coupon__container {
    padding: 2px 16px;
    background-color: #f1f1f1;
  }
  
  .promo {
    background: #ccc;
    padding: 3px;
  }
  
  .expire {
    color: red;
  }


.home__section{
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
}

.home__sectionTitle{
    display: flex;
    align-items: center;
}

  h2{
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
    color: #202020;
    padding: 20px;
    margin-left: 40px;
  }

.home__sectionTwo, .home__sectionThree{
    padding: 20px;
} 
.home__rowTwo, .home__rowThree{
    display: flex;
    align-items: center;
    padding: 20px;
}
.home__categoryImageBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 250px;
}  
.home__categoryImageBox > img{
    width: 100%;
}
.home__categoryImageBox > p{
    font-family: "DM Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
}
.hot__deals{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #e10600;
    margin-left: 10px;
}
.home__sectionTitleThree{
    display: flex;
    align-items: center;
}
.offers__container{
  display: flex;
  flex-wrap: wrap;
}
.offer__item{
  padding: 5px;
  margin: 5px;
}
.offer__item > img{
  width: 180px;
  height: 180px;
}
.slide__show img{
  width: 100%;
}
.collections__header{
  padding: 10px;
  color: white;
  background-color: #fd6506;
  margin-left: 10px;
  text-align: center;
}
.collections__container{
  padding: 10px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
}
.collections__item{
  padding: 10px;
  text-align: center;
}
.collections__item p{
  margin-top: 5px;
  
}

.home__brands{
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}
.home__electronics, .col2{
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}
.col2{
  align-items: center;
}
.col3{
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.col3 > div{
  background-color: white;
  padding: 10px;
  margin: 10px;
  width: 250px;
}
.col3 h3, .col3 p{
  padding: 5px;
}
.col3__section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.electronics__bottom, .special__offers{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.electronics__bottom{
  align-items: center;
}
.electronics__bottom > div{
  width: 400px;
}
.special__offers > div{
  width: 400px;
  margin: 10px;
}
.electronics__bottom img{
  width: 100%;
}
.special__offers img{
  width: 100%;
}